<%- include("./partials/head.ejs") %>
<h1>Blog Site</h1>
<h2>Creeaza o postare!</h2>

<form action="/submit" method="post">
  <input type="text" name="title" placeholder="Titlul postarii" required />
  <input type="text" name="description" placeholder="Descrierea" required />
  <input type="submit" name="submit" value="Posteaza!" />
</form>

<% if(locals.rTitle && locals.rDescription) {%>
<div>
  <h1><%= rTitle %></h1>
  <p><%= rDescription %></p>

  <form action=/delete?title=<%= rTitle %> method="post">
    <input type="submit" value="Delete" />
  </form>

  <form action="/put" method="post">
    <input type="text" name="title" placeholder="Titlul postarii" value=<%= rTitle %> required />
    <input type="text" name="description" placeholder="Descrierea" value=<%= rDescription %> required />
    <input type="submit" value="Update" />
  </form>
</div>

<% } %> 
<%- include("./partials/footer.ejs") %>
